.TorrentsProgressContainer {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 10%;
	padding-top: 4%;
}

.DownloadsEmpty {
	margin-right: 0%;
	padding-top: 0%;
	height: 100%;
}

.TorrentProgress {
	background-color: #424242;
	min-width: 50%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 1%;
}

.TorrentProgressInfoContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 2%;
	padding-bottom: 2%;
}

.ClickableIcon {
	cursor: pointer;
}
