.SettingsScreenContainer {
	width: 100%;
	height: 100%;
	padding-top: 1%;
	color: white;
	font-weight: 700;
	font-size:  1.75em;
}

.SettingContainer {
	padding-top: 1%;
}

.FolderSelectLabel {
	color: white;
	font-size: 1.25rem;	
	font-weight: 400;
}

.FolderInput {
	display: flex;
	align-items: center;
	min-width: 420px;
	max-width: 700px;
	margin-top: 1%;
}

.FolderPath {
	background-color: #50555e;
	flex: 1;
	padding: 5px;
	color: white;
	font-weight: 400;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1rem;
}

.FolderIcon {
	color: #50555e;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: 0.5s;
	padding-left: 10px;
	font-size: 1rem;
}

.FolderIcon:hover {
	color: white;
}
