body {
  height: 100vh;
  background-color: #282c34;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
}

.MainScreen {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-left: 2vw;
  width: 100%;
}

.SideNav {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
